#links{
    display: flex;
    font-size: 30px;
    height: 50px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    box-shadow: 2px 2px 2px 2px rgb(229, 229, 229);
   
}
thead>tr>th{
    font-size: 30px;
    justify-content: space-between;
    background-color: teal;
   
  }